.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
/* Navbar------------------------------------------------------------------------------------------------ */
.navbar-wrapper{
    height: 50px;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: row;
}
.navbar{
    height: 50px;
    width: 1000px;
    line-height: 50px;
    display: flex;
    text-align:center;
}
.navbar > li{
    line-height: 50px;
    width: 150px;
    display: flex;
    text-align:center;
    margin: 0 auto;
}
.navbar > li > a{
    font-size: 17px;
    width: 150px;
    color: rgb(234, 234, 234);
    display: inline-block;
    margin:0 auto
}
.navbar > li > a:hover{
    font-weight: bolder;
    font-size: 16px;
    background-color: rgb(234, 234, 234);;
    color: #333;
}
.navbar > h1{
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
}
.navbar > h1 > a{
    position: absolute;
    width: 49px;
    height: 49px;
    left:0px;
    background-image: url(../img/HZ1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    transition: left 0.3s;
}
.navbar > .headicon > .HZ2{
    background-image: url(../img/HZ2.jpg);
    left: -50px;
}
.navbar > .headicon:hover > .HZ1{
    left: 50px;
}
.navbar > .headicon:hover > .HZ2{
    left: 0px;
}
/* Navbar Menu------------------------------------------------------------------------------------------------ */
.navbar > li:hover > a > .contact {
    display: block;
    height: 300px;
}
.navbar > li > a > .contact{
    position: absolute;
    width: 140px;
    padding: 0 5px;
    height: 0px;
    overflow: hidden;
    text-align: left;
    background-color: rgb(234, 234, 234);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: height 0.2s;
    z-index: 999;
}
.navbar .contact li{
    font-size: 15px;
    line-height: 35px;
}
.navbar .contact img{
    padding-top: 10px;
}
.navbar > li:hover > a > .assignment {
    display: block;
    height: 300px;
}
.navbar > li > a > .assignment{
    position: absolute;
    width: 140px;
    padding: 0 5px;
    height: 0px;
    overflow: hidden;
    text-align: left;
    background-color: rgb(234, 234, 234);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: height 0.2s;
    z-index: 9999;
}
.navbar .assignment li{
    font-size: 14px;
    line-height: 60px;
}
.navbar .assignment li:hover{
    background-color: #333;
    color: rgb(234, 234, 234);
}
.navbar > li:hover > a > .note {
    display: block;
    height: 300px;
}
.navbar > li > a > .note{
    position: absolute;
    width: 140px;
    padding: 0 5px;
    height: 0px;
    overflow: hidden;
    text-align: left;
    background-color: rgb(234, 234, 234);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: height 0.2s;
    z-index: 9999;
}
.navbar .note li{
    font-size: 16px;
    line-height: 50px;
}
.navbar .note li:hover{
    background-color: #333;
    color: rgb(234, 234, 234);
}
.navbar > li:hover > a > .quiz {
    display: block;
    height: 300px;
}
.navbar > li > a > .quiz{
    position: absolute;
    width: 140px;
    padding: 0 5px;
    height: 0px;
    overflow: hidden;
    text-align: left;
    background-color: rgb(234, 234, 234);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: height 0.2s;
    z-index: 9999;
}
.navbar .quiz li{
    font-size: 16px;
    line-height: 50px;
}
.navbar .quiz li:hover{
    background-color: #333;
    color: rgb(234, 234, 234);
}
.navbar > li:hover > a > .resume {
    display: block;
    height: 170px;
}
.navbar > li > a > .resume{
    position: absolute;
    width: 140px;
    padding: 0 5px;
    height: 0px;
    overflow: hidden;
    text-align: left;
    background-color: rgb(234, 234, 234);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: height 0.2s;
    z-index: 9999;
}
.navbar .resume li{
    font-size: 16px;
    line-height: 50px;
}
.navbar .resume li:hover{
    background-color: #333;
    color: rgb(234, 234, 234);
}
/* Banner------------------------------------------------------------------------------------------------ */
.banner-outer{
    background-color: black;
    background-image: url(../img/banner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%; 
    position: relative;
}
.banner-outer > .firstLine {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 25px;
    color: rgb(247,247,247);
    text-align:center;
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}
.banner-outer > .secondLine {
    position: absolute;
    display: block;
    width: 100%;
    top: 110px;
    font-size: 20px;
    color: rgb(247,247,247);
    text-align:center;
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.banner-outer > .thirdLine {
    text-align:center;
}
.banner-outer > .thirdLine a{
    position: absolute;
    display: inline-block;
    width: 150px;
    top: 200px;
    margin-left: -80px;
    font-size: 18px;
    line-height: 50px;
    color: #fff;
    background-color: #333;
    border: 0.1px rgba(247,247,247,0.5) solid;
}
.banner-outer > .thirdLine a:hover{
    background-color: whitesmoke;
    color: #333;
}
/* Introduction------------------------------------------------------------------------------------------------ */
.introduction-outer {
    width: 100%;
    height: 300px;
    background-color: rgb(234, 234, 234);
    position: relative;
    /* border-bottom: 1px solid rgba(1,1,1,0.2); */
}
.introduction-outer > .introTitle {
    text-align: center;
    width: 100%;
    height: 50px;
    position: absolute;
    display: block;
    font-size: 40px;
    top: 20px;
}
.introduction-outer > .introContent{
    position: relative;
    top: 100px;
    display: flex;
    width: 800px;
    height: 200px;
    margin:auto
}
.introduction-outer > .introContent > .introLeft{
    width: 50%;
    height: 200px;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;
}
.introduction-outer > .introContent > .introLeft > h1{
    font-size: 20px;
}
.introduction-outer > .introContent > .introLeft > h2{
    font-size: 15px;
}
.introduction-outer > .introContent > .introRight{
    width: 50%;
    height: 200px;
    text-align: initial;
    font-size: 28px;
    padding-left: 30px;
    padding-right: 30px;

}
.introduction-outer .fa-html5{
    color: rgb(227, 79 ,38);
}
.introduction-outer .fa-css3{
    color: rgb(39,118,211);
}
.introduction-outer .fa-js{
    color: rgb(203,203,54);
}
.introduction-outer .fa-adobe{
    color: red;
}
/* Experience------------------------------------------------------------------------------------------------ */
.experience-outer {
    width: 100%;
    height: 400px;
    background-color:rgb(234, 234, 234);
    position: relative;
    /* border-bottom: 1px solid rgba(1,1,1,0.2); */
}
.experience-outer > .experience-Inner {
    display: flex;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.experience-outer > .experience-Inner > .expOne-Outer {
    width: 33.3333333%;
    height: 380px;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.experience-outer > .experience-Inner > .expTwo-Outer {
    width: 33.3333333%;
    height: 380px;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.experience-outer > .experience-Inner > .expThree-Outer {
    width: 33.3333333%;
    height: 380px;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.experience-outer > .experience-Inner > .expOne-Outer > .expOne-Inner{
    width: 80%;
    height: 95%;
    background-color: rgb(234, 234, 234);
    border: grey solid 1;
    margin: auto;
}
.experience-outer > .experience-Inner > .expTwo-Outer > .expTwo-Inner{
    width: 80%;
    height: 95%;
    background-color: rgb(234, 234, 234);
    border: grey solid 1;
    margin: auto;
}
.experience-outer > .experience-Inner > .expThree-Outer > .expThree-Inner{
    width: 80%;
    height: 95%;
    background-color: rgb(234, 234, 234);
    border: grey solid 1;
    margin: auto;
}
.experience-outer > .experience-Inner > .expOne-Outer > .expOne-Inner:hover{
    transition: 0.2s;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 3, 0.3);
    cursor: pointer;
}
.experience-outer > .experience-Inner > .expTwo-Outer > .expTwo-Inner:hover{
    transition: 0.2s;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 3, 0.3);
    cursor: pointer;
}
.experience-outer > .experience-Inner > .expThree-Outer > .expThree-Inner:hover{
    transition: 0.2s;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 3, 0.3);
    cursor: pointer;
}
.experience-outer > .experience-Inner > .expOne-Outer > .expOne-Inner > .expOnePic-Wraper{
    width: 100%;
    vertical-align: bottom;
}
.experience-outer > .experience-Inner > .expTwo-Outer > .expTwo-Inner > .expTwoPic-Wraper{
    width: 100%;
    vertical-align: bottom;

}
.experience-outer > .experience-Inner > .expThree-Outer > .expThree-Inner > .expThreePic-Wraper{
    width: 100%;
    vertical-align: bottom;
}
.experience-outer > .experience-Inner > .expOne-Outer > .expOne-Inner > .expOnePic-Info{
    padding-top: 10px;
}
.experience-outer > .experience-Inner > .expTwo-Outer > .expTwo-Inner > .expTwoPic-Info{
    padding-top: 10px;
}
.experience-outer > .experience-Inner > .expThree-Outer > .expThree-Inner > .expThreePic-Info{
    padding-top: 10px;
}
#expCompany{
    font-size: 20px;
}
#expTitle{
    padding-top: 2px;
    font-size: 15px;
}
#expContent{
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
}
/* Carousel------------------------------------------------------------------------------------------------ */
#carousel{
    background-color: rgb(234, 234, 234);
    width: 100%;
    height: 600px;
    position: relative;
}
#outer{
    width: 920px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#imgList{
    list-style: none;
    position: absolute;
    left: 0px;
}
#imgList li{
    float: left;
}
#navDiv{
    position: absolute;
    bottom: 20px;
}
#navDiv a{
    float: left;
    width: 15px;
    height: 15px;
    background-color: #999999;
    margin: 0 5px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#navDiv a:hover{
    background-color: white;
}
/* Grid------------------------------------------------------------------------------------------------ */
.grid-wrapper{
    width: 100%;
    height: 690px;
    background-color:rgb(234, 234, 234);
}
.grid-wrapper > .grid {
    display: grid;
    width: 920px;
    height: 690px;
    background-image: url(../img/Gridbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: rgb(234, 234, 234);
    grid-template-columns: 452px 230px 230px;
    grid-template-rows: 150px 300px 231px;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
    
}
.grid-wrapper > .grid > div{
    display: block;
    border: 1px solid grey;
    position: relative;
    font-size: 16px;
}
.grid-wrapper > .grid > div > p{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-wrapper > .grid > div:hover{
    background-color: rgba(54, 54, 54, 0.5);
    font-weight: bold;
    font-size: 20px;
    transition: font-size 1s;
    transition: background-color 1s;
    transition: transform 0.5s;
    cursor: pointer;
    transform: scale(0.98) ;
}
/* App Area Banner------------------------------------------------------------------------------------------------ */
.appAreaBanner-outer{
    width: 100%;
    height: 50px;
    background-color: rgb(234, 234, 234);
    text-align: center;
} 
.appAreaBanner-outer > .appAreaBanner-inner{
    width: 920px;
    display: block;
    margin: auto;
    line-height: 50px;
    font-size: 20px;
}
/* Apps-1 Container------------------------------------------------------------------------------------------------ */
.app-outer{
    width: 100%;
    height: auto;
    background-color:rgb(234, 234, 234);
}
.app-outer > .app-inner{
    display: flex;
    width: 800px;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
/* Apps-2 Container------------------------------------------------------------------------------------------------ */
.app2-outer{
    width: 100%;
    height: auto;
    background-color:rgb(234, 234, 234);
}
.app2-outer > .app2-inner{
    display: flex;
    width: 800px;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
/* Apps-3 Container------------------------------------------------------------------------------------------------ */
.app3-outer{
    width: 100%;
    height: auto;
    background-color:rgb(234, 234, 234);
}
.app3-outer > .app3-inner{
    display: flex;
    width: 800px;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
/* Snake------------------------------------------------------------------------------------------------ */
.app-outer > .app-inner > .snake{
    width: auto;
    height: auto;
    display: block;
    border: 3px solid rgb(234, 234, 234);
    position: relative;
    background-color: black;
}
.app-outer > .app-inner > .snake:hover{
    border: 3px solid rgba(250, 250, 250, 0.8);
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 3, 0.5);
    transition: border  0.5s;
    transition: box-shadow 0.5s;

}
/* Calculator------------------------------------------------------------------------------------------------ */
.app-outer > .app-inner > .calculator{
    border: 3px solid rgb(234, 234, 234);
    width: 400px;
    height: 400px;
    display: block;
    background-color: rgb(234, 234, 234);
    position: relative;
}
.app-outer > .app-inner > .calculator:hover{
    border: 3px solid rgba(250, 250, 250, 0.8);
    transition: border 0.5s;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 3, 0.5);
    transition: box-shadow 0.5s;
}
.app-outer > .app-inner > .calculator > .calculatorTable{
    width: 388px;
    height: 400px;
    font-size: 15px;
}
.app-outer  .app-inner  .calculator input[type="button"] { 
    background-color:rgb(234, 234, 234); 
    color: black; 
    border: solid rgba(1, 1, 1, 0.2); 
    width:100%;
    font-size: 20px;
} 
.app-outer  .app-inner  .calculator input[type="button"]:hover {
    background-color:rgba(1, 1, 1, 0.2);
    transition: background-color 0.5s;
}
.app-outer  .app-inner  .calculator input[type="text"] { 
    background-color:white; 
    border: solid rgba(1, 1, 1, 0.2); 
    width: 100%;
    font-size: 20px;
} 
/* Nidundao------------------------------------------------------------------------------------------------ */
.app2-outer > .app2-inner > .nidundao{
    width: 400px;
    height: 400px;
    display: block;
    background-image: url(../img/Zhouxingchi.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 3px solid rgb(234, 234, 234);
}
.app2-outer > .app2-inner > .nidundao:hover{
    background-image: url(../img/Huange.png);
    border: 3px solid rgba(250, 250, 250, 0.8);
    transition: border 0.5s;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 3, 0.5);
    transition: box-shadow 0.5s;
}
/* Aoligei------------------------------------------------------------------------------------------------ */
.app2-outer > .app2-inner > .aoligei{
    width: 400px;
    height: 400px;
    display: block;
    background-image: url(../img/Aoligei.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 3px solid rgb(234, 234, 234);
}
.app2-outer > .app2-inner > .aoligei:hover{
    background-image: url(../img/Aoligeiou.png);
    border: 3px solid rgba(250, 250, 250, 0.8);
    transition: border 0.5s;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 3, 0.5);
    transition: box-shadow 0.5s;
}
/* CRUD-------------------------------------------------------------------------------------------------- */
.app3-outer > .app3-inner > .crud{
    width: 400px;
    height: auto;
    display: block;
    position: relative;
    border: 3px solid rgb(234, 234, 234);
}
.app3-outer > .app3-inner > .crud:hover{
    border: 3px solid rgba(250, 250, 250, 0.8);
    transition: border 0.5s;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 3, 0.5);
    transition: box-shadow 0.5s;
}
input[type='submit'], button, [aria-label]{
    cursor: pointer;
}
#spoiler{
    display: none;
}
/* Footer------------------------------------------------------------------------------------------------ */
footer > .footer-outer{
    height: 50px;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}
footer > .footer-outer > .footer-inner{
    height: 50px;
    width: 800px;
    margin: auto;
    display: flex;
    position: relative;
}
footer > .footer-outer > .footer-inner > .footer-left{
    width: 50%;
    height: 38px;
    text-align: center;
    padding-top: 12px;
}
footer > .footer-outer > .footer-inner > .footer-right{
    width: 50%;
    height: 38px;
    text-align: center;
    padding-top: 12px;
}
footer > .footer-outer > .footer-inner > .footer-right > a{
    color: aliceblue;
}
