.nav-wrapper {
    width: 100%;
    position: relative;
  }
  .nav {
    margin: 70px auto;
    width: 60%;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
  }
  .nav,
  .search-input,
  .nav-wrapper {
    background-color: #333;
  }

  .infor-items,
  .icon,
  ::placeholder,
  .qrcode-text {
    color: white;
  }
  .infor-items {
    text-decoration: none;
    display: inline-block;
    margin: 0 50px;
  }

  .search-input,
  .search-icon {
    margin: 0 10px;
    height: 50px;
  }
  .search-input {
    border: 1px solid white;
    border-radius: 5%;
  }

  ::placeholder {
    font-weight: bolder;
  }

  .icon {
    font-size: 20px;
    margin-right: 20px;
  }
  ::placeholder {
    text-align: center;
  }
  .icon:hover {
    color: #9f9a9a;
  }

  .hidden {
    position: absolute;
    justify-content: flex-end;
    width: 100%;
    height: 400px;
    top: 100px;
    left: 0;
    background-color: #ab1d3f;
    border: 1px solid #333;
    border-top: none;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);
    display: none;
  }

  .hidden-right {
    width: 700px;
    height: 400px;
    background-color: #871430;
    float: right;
  }

  .qrcode {
    width: 120px;
    height: 120px;
  }
  .qrcode {
    margin: 70px 0 -30px 70px;
  }

  .qrcode-text {
    font-size: 18px;
    margin-left: 40px;
    font-family: cursive;
  }
  .infor:hover ~ .hidden {
    display: block;
  }
  .infor-items ~ .hidden {
    display: block;
  }
  .hidden:hover {
    display: block;
  }