/* RESET Section */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}
*, ::after, ::before {
	box-sizing: border-box;
}
a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

body, input {
	font-family: Arial,Helvetica,sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Misc */
.form-check-input {
	margin-top: 0.1rem;
}
.input-group-prepend,
.input-group-prepend + input.form-control {
	max-width: 140px;
}
.sample {
	height: 100%;
}

/* Responsive */
@media (max-width: 575.98px) { 
	thead {display: none;}
	tbody>tr>th,
	tbody>tr>td,
	tfoot>tr>th,
	tfoot>tr>td {
		display: block;
		width: 100%;
	}
	button.btn.btn-success,
	button.btn.btn-warning {
		width: 100%;
	}
	.hide-xs {
		display: none;
	}
}
