.lw_portfolio_card_outter {
  margin: 15px 10px 0px 10px;
}

.lw_portfolio_card_title_company_name {
  margin: 5px 0px 5px 10px !important;
}

.lw_portfolio_card_title_job_title {
  margin: 0px 0px 0px 10px !important;
}

.lw_portfolio_card_grid {
  margin: 0px 10px;
}

@media (max-width: 800px) {
  .lw_portfolio_card_grid {
    margin: 0px 0px;
  }

  .lw_portfolio_card_outter {
    margin: 15px -10px 0px -10px;
  }
}
